@{
    ViewBag.Title = "Admin";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/LoginPage");
    }
    else if (Session["userRole"].Equals("Manager"))
    {
        Response.Redirect("~/Home/ErrorPage");
    }
    else if (Session["userRole"].Equals("Staff"))
    {
        Response.Redirect("~/Home/ErrorPage");
    }
}
<br />
<br />
<br />
<br />
<h3 class="jumbotron" style="border-radius: 4px;
        background-color: gold;
        border: none;
        color: black;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 800px;
        margin: 150px;">
    Sorry, @ViewBag.Message is under construction !!
</h3>
