@{
    ViewBag.Title = "Home Page";

}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />

    @for (int i = 1; i <= ViewBag.patientintake.Count; i++)
    {
        <style>
            .card:nth-child(@i) svg circle:nth-child(2) {
                stroke-dashoffset: 0;
                stroke: #0fff03;
            }
        </style>
    }
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: black;
            background: linear-gradient(to bottom left, #00ffff 0%, #ff33cc 100%);
        }
    </style>
</head>
<body>
    <center>
        <h3 style="color: black; font-weight: bold;
           font-family: 'Times New Roman'; font-size: 40px">
            PATIENTS INTAKE
        </h3>
    </center>
    <div class="container" id="mycontainer">
        @foreach (var category in ViewBag.patientintake)
        {
            string val = category.Key + "_Patient_Intake";
            <div title=@val class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>@category.Value<span class="fa fa-wheelchair"></span></h2>
                        </div>
                    </div>
                    <h2 class="text">@category.Key</h2>
                </div>
            </div>
        }

    </div>
</body>
</html>