@{
    ViewBag.Title = "Manager";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/LoginPage");
    }
    else if (Session["userRole"].Equals("Staff"))
    {
        Response.Redirect("~/Home/ErrorPage");
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

