@{
    ViewBag.Title = "Staff";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/LoginPage");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .button {
        border-radius: 4px;
        background-color: gold;
        border: none;
        color: black;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 800px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 150px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 40px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
</style>
<body>
    <br />

    <a href="@Url.Action("Create", "PatientCategories")" style="font-size:large">
        <p class="button"><span>Manage equipments for Patient Categories</span></p>
    </a>
    <a href="@Url.Action("Index", "Patients")" style="font-size:large">
        <p class="button"><span>Manage Patients</span></p>
    </a>
</body>